body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

body > section {
  flex: 1 1 auto;
}
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  .dark {
      background: #32a0c2;
      padding: 5px 10px;
  }

  #picture h1, #facts h1, #about h1{
    margin-top: 30px;
    font-size: 55px;
    margin-bottom: 10px;
  }

  /* facts */

  #facts{
    margin-top: 20px;
  }

  #facts h1 {
    text-align: center;
  }
  
  #facts .box {
    float: left;
    width: 30%;
    padding: 10px;
  }

  #facts ul {
      margin: 5;
      padding: 5;
  }

  #picture figure img {
      float: none;
      width: 350px;
  }

/* Header */

header{
    background: #353637;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #32a0c2 3px solid;
  }
  
  header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  header ul{
    margin: 0;
    padding: 0;
  }

  header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }
  
  header #title{
    float: left;
  }
  
  header #title h1{
    margin: 0;
  }
  
  header nav{
    float: right;
    margin-top: 10px;
  }
  
  header .highlight, header .current a{
    color: #32a0c2;
    font-weight: bold;
  }
  
  header a:hover{
    color: #cccccc;
    font-weight: bold;
  }

/* Introduction */

#introduction {
    min-height: 350px;
    background: url('../Images/dinosaur-footprints-dinosaur-trackways-colour.png') repeat;
    text-align: center;
    color: #353637;
  }
  
  #introduction h1{
    margin-top: 50px;
    font-size: 55px;
    margin-bottom: 10px;
  }
  
  #introduction p{
    font-size: 20px;
  }

/* Picture */

#picture{
    padding: 15px;
    color: #ffffff;
    background: #353637;
    text-align: center;
  }

/* Footer */

footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #32a0c2;
    text-align: center;
}

/* Sidebar */

aside#sidebar{
    float: right;
    width: 30%;
    padding: 5px;
    margin-top: 30px;
}

article#main-col{
    float: left;
    width: 65%;
}

/* Media Queries */

@media(max-width: 768px){
    header #title,
    header nav,
    header nav li,
    #picture h1,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    #facts .box {
        float: none; 
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #introduction h1{
        margin-top: 40px;
    }
}